.message-view-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pre-channel-h1 {
  opacity: 0.3;
  text-transform: uppercase;
  font-size: 24px;
  animation-duration: 5s;
  animation-name: fadeinandout;
  animation-iteration-count: infinite;
}

@keyframes fadeinandout {
  from {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  to {
    opacity: 0;
  }
}

.message-view {
}

.channel-name {
}

.message-container {
  display: flex;
  flex-direction: column;
}

.message-name {
  font-size: 14px;
}
